@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Italianno&family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.897),
    rgb(233, 221, 233)
  );
}
#gg {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
}
#nav {
  display: none;
}
section {
  margin-top: 2rem;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  text-align: center;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#projo {
  font-family: "Cookie", cursive;
}
#ac {
  font-family: "Faster One", cursive;
}
#mobi {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}
#mg {
  width: 70%;
  height: 210px;
  margin: 2em;
  object-fit: cover;
  border-radius: 50%;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px 0px;
  width: 60%;
  margin: 0px auto;
  text-decoration: none;
  position: relative;
}

/* Active/current link */

.aa:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.aa:hover:after {
  width: 100%;
  left: 0;
}
/* Links on mouse-over */
/* .sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 300px;
  padding: 1px 5px;
  height: 1000px;
}
#home {
  /* background-image: linear-gradient(
    to right,
    rgba(23, 99, 122, 0.123),
    rgb(223, 185, 223)
  ); */
  text-align: center;
  padding: 2em;
  line-height: 1em;
  font-size: 1rem;
  /* font-family: "Sacramento", cursive; */
}
#card {
  /* background-image: linear-gradient(
    to right,
    rgba(31, 68, 170, 0),
    rgb(218, 190, 190)
  ); */
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar .aa {
    float: left;
  }
  div.content {
    margin-left: 0;
    width: 100%;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar .aa {
    text-align: center;
    float: none;
  }
}
@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
  #mobi {
    display: initial;
  }
  #nav {
    display: initial;
  }
}
